{% extends 'mainapp/base.html' %}
{% block title %}Рецепты с нашего сайта{% endblock %}
{% block content %}
<h2>Добро пожаловать на сайт кулинарных рецептов</h2>
<h3>Вашему вниманию предлагаются 5 случайных рецептов с нашего сайта</h3>
    {% for recipe in recipes %}
    <div class="card my-4">
        <div class="card-body">
     
        Название : {{ recipe.name }}<br>
        {{ recipe.category }}<br>
        Описание : {{ recipe.description }}<br> 
    
        </div>
    </div>
    {% endfor %}

{% endblock %}
